schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://tempuri.org/Orders.Xsd" elementFormDefault="qualified" targetNamespace="http://tempuri.org/Orders.Xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">  	

	Orders schema for XMLFox  	

	</xs:documentation>
  </xs:annotation>
  <xs:element name="Orders" type="OrdersType" />
  <xs:element name="comment" type="xs:string" />
  <xs:complexType name="OrdersType">
    <xs:sequence>
      <xs:element name="shipTo" type="Address" />
      <xs:element name="billTo" type="Address" />
      <xs:element minOccurs="0" ref="comment" />
      <xs:element name="items" type="Items" />
    </xs:sequence>
    <xs:attribute name="ordDate" type="xs:date" />
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="street" type="xs:string" />
      <xs:element name="city" type="xs:string" />
      <xs:element name="state" type="xs:string" />
      <xs:element name="zip" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute fixed="US" name="country" type="xs:NMTOKEN" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Product" type="xs:string" />
            <xs:element name="Units">
              <xs:simpleType>
                <xs:restriction base="xs:positiveInteger">
                  <xs:maxExclusive value="100" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Price" type="xs:decimal" />
            <xs:element minOccurs="0" ref="comment" />
            <xs:element minOccurs="0" name="shipDate" type="xs:date" />
          </xs:sequence>
          <xs:attribute name="partNum" type="SKU" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Stock Keeping Unit product ID</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="SKU">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{3}-[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
